.9_2 { 
	overflow:hidden;
}.e9_2 { 
	background-color:rgba(31.875, 30.732815489172935, 30.732815489172935, 1);
	width:1366px;
	height:768px;
	position:absolute;
}.e9_3 { 
	width:1367px;
	height:1012px;
	position:absolute;
	left:-1px;
	top:-241px;
}.e9_4 { 
	transform: rotate(180deg);
	width:1366px;
	height:1009px;
	position:absolute;
	left:1367px;
	top:0px;
}.e9_5 { 
	width:1367px;
	height:771px;
	position:absolute;
	left:0px;
	top:241px;
}.e9_6 { 
	background-color:rgba(19.12500075995922, 17.64281429350376, 17.64281429350376, 1);
	width:653px;
	height:771px;
	position:absolute;
	left:0px;
	top:0px;
}.e9_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:435px;
	height:64px;
	position:absolute;
	left:131px;
	top:638px;
}.e9_8 { 
	background-color:rgba(82.98124685883522, 49.08749878406525, 178.49999696016312, 1);
	width:248px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:12px;
}.e9_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-7.0167217375642474e-15deg);
	width:24px;
	height:24px;
	position:absolute;
	left:202px;
	top:11px;
}.ei9_9_4_983 { 
	transform: rotate(7.0167217375642474e-15deg);
	width:4.569148540496826px;
	height:0px;
	position:absolute;
	left:4.100363731384277px;
	top:12px;
	border-radius:2px;
}.i9_9_4_983 { 
	border:1px solid rgba(0, 255, 10.199999772012234, 1);
}.ei9_9_4_984 { 
	transform: rotate(7.0167217375642474e-15deg);
	width:16.72181510925293px;
	height:16.728893280029297px;
	position:absolute;
	left:2.8060476779937744px;
	top:3.6355526447296143px;
	border-radius:2px;
}.i9_9_4_984 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e9_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:173.02325439453125px;
	height:20px;
	position:absolute;
	left:15px;
	top:11px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e9_11 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.550000011920929;
	width:435px;
	height:12px;
	position:absolute;
	left:0px;
	top:52px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e9_12 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.550000011920929;
	width:462px;
	height:132px;
	position:absolute;
	left:131px;
	top:477px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e9_13 { 
	transform: rotate(90.00000250447746deg);
	width:164.5px;
	height:0.0000071905215008882806px;
	position:absolute;
	left:936px;
	top:340px;
}.9_13 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e9_14 { 
	transform: rotate(90.00000250447746deg);
	width:200.5px;
	height:0.000009550935828883667px;
	position:absolute;
	left:99px;
	top:238px;
}.9_14 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e9_15 { 
	width:1256px;
	height:327px;
	position:absolute;
	left:119px;
	top:209px;
}.e9_16 { 
	color:rgba(255, 255, 255, 1);
	width:1256px;
	height:193px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Poppins;
	text-align:left;
	font-size:180px;
	letter-spacing:0;
}.e9_17 { 
	color:rgba(255, 255, 255, 1);
	width:409px;
	height:118px;
	position:absolute;
	left:396px;
	top:209px;
	font-family:Poppins;
	text-align:right;
	font-size:80px;
	letter-spacing:0;
}.e9_18 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e9_19 { 
	width:1319px;
	height:30px;
	position:absolute;
	left:47px;
	top:34px;
}.e9_20 { 
	color:rgba(255, 255, 255, 1);
	width:197.31539916992188px;
	height:27px;
	position:absolute;
	left:0px;
	top:3px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e9_26 { 
	width:394px;
	height:27px;
	position:absolute;
	left:924.9998779296875px;
	top:0px;
}.e9_24 { 
	color:rgba(255, 255, 255, 1);
	width:197.31539916992188px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e9_25 { 
	color:rgba(255, 255, 255, 1);
	width:197.31539916992188px;
	height:27px;
	position:absolute;
	left:196.68460083007812px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}